archive
graphics
data/analysis_data
data/bayes_data
data/brms_data
data/brms_model_comparison_data
data/modeling_data
data/replications
data/raw_data/01_raw_json_data
data/raw_data/02_raw_data_csv/cars.csv
data/raw_data/02_raw_data_csv/tab.csv
00_get_data/00_demogrhphic_data_analysis.R
00_get_data/00_convert_json_to_R.R
01_preprocessing/01_preprocess_questionnaire.R
03_regression_analysis/02_data_analysis_key_effects.R
06_brms/06_brms_card_ch_effects.R
07_bayes_comparisons/bayes_ch.R
08_model_comparison/08_ch_card.R
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
